<md-bottom-sheet class="md-list md-has-header">
    <md-subheader>Actions</md-subheader>
    <md-list>
        <md-item><md-button aria-label="Share">
            <i class="fa fa-share fa2x"></i>
            <span class="md-inline-list-icon-label">Share</span>
        </md-button></md-item>
        <md-item><md-button aria-label="Upload">
            <i class="fa fa-upload fa2x"></i>
            <span class="md-inline-list-icon-label">Upload</span>
        </md-button></md-item>
        <md-item><md-button aria-label="Copy">
            <i class="fa fa-copy fa2x"></i>
            <span class="md-inline-list-icon-label">Copy</span>
        </md-button></md-item>
    </md-list>
</md-bottom-sheet>