<!doctype html>
<html lang="en">
<head>
    <title>Angular with Material Design</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="lib/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="module/icons/font-awesome-4.2.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="module/css/app.css">

    <!-- custom dev app styles -->
    <style type="text/css"></style>
</head>
<body ng-app="WebApp" ng-cloak>
    <div layout="column" layout-fill ng-controller="MainController">
        <section layout="row" flex>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-md')">
                <md-toolbar class="sidenav-toolbar">
                    <div class="md-toolbar-tools"><span>Title</span></div>
                </md-toolbar>
                <md-content class="md-padding">
                    <p>Sidenav Items</p>
                </md-content>
            </md-sidenav>

            <md-content layout-fill>
                <div layout="column">
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            <md-button hide-gt-md ng-click="showMenu()" aria-label="{{label.showMenu}}">
                                <i class="fa fa-bars fa-2x"></i>
                                <md-tooltip>{{label.showMenu}}</md-tooltip>
                            </md-button>
                            <span>{{activeTab || 'Toolbar'}}</span>
                            <div flex></div>
                            <md-button class="md-fab md-accent smaller-fab" aria-label="{{label.userInfo}}">
                                <i class="fa fa-user fa-2x"></i>
                                <md-tooltip>{{label.userInfo}}</md-tooltip>
                            </md-button>
                        </div>
                        <md-tabs class="md-accent" md-selected="mainTab.selectedIndex">
                            <md-tab id="tab1" aria-controls="tab1-content" aria-label="{{label.tabOne}}" ng-cloak>
                                <i class="fa fa-comments-o fa-2x"></i>
                                <md-tooltip>{{label.tabOne}}</md-tooltip>
                            </md-tab>
                            <md-tab id="tab2" aria-controls="tab2-content" aria-label="{{label.tabTwo}}" ng-cloak>
                                <i class="fa fa-download fa-2x"></i>
                                <md-tooltip>{{label.tabTwo}}</md-tooltip>
                            </md-tab>
                            <md-tab id="tab3" aria-controls="tab3-content" aria-label="{{label.tabThree}}" ng-cloak>
                                <i class="fa fa-gears fa-2x"></i>
                                <md-tooltip>{{label.tabThree}}</md-tooltip>
                            </md-tab>
                        </md-tabs>
                    </md-toolbar>
                    <md-content class="md-padding">
                        <section layout="row" layout-sm="column" layout-align="start start">
                            <md-button class="md-raised md-accent"
                                ng-click="showBottomSheet()"
                                aria-label="{{label.showCtxMenu}}">{{label.showCtxMenu}}</md-button>
                        </section>
                    </md-content>
                </div>
            </md-content>
        </section>
    </div>

    <!-- dependecies -->
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="lib/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="lib/hammerjs/hammer.js"></script>
    <script type="text/javascript" src="lib/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="module/js/app.js"></script>

    <!-- custom dev app scripts -->
    <script type="text/javascript"></script>
</body>
</html>